  <div class="display-row birthdate" id="userBirthdate">
    {{#if (and dateIsMagical this.siteSettings.cakeday_birthday_required)}}
    <div class="field">{{i18n "user.date_of_birth.label"}}</div>
      <div class="value">
          {{i18n "admin.user.date_unlocked"}}
      </div>
      <div class="controls">
      </div>
    {{else}}
      {{admin-editable-field name="user.date_of_birth.label"
                             value=user.birthdate
                             action=(action saveBirthdate)
                             editing=editingBirthdate}}
    {{/if}}
    {{#if this.siteSettings.cakeday_birthday_required}}
    <div>
      {{#if dateIsMagical}}
      <DButton
        @class="btn-default"
        @icon="pencil-alt"
        @action=setUnlockedBirthdate
        @title="admin.user.unlock_birthdate"
      />
      {{else}}
      {{#unless editingBirthdate}}
      <DButton
        @class="btn-default"
        @icon="unlock"
        @action=unlockBirthdate
        @title="admin.user.unlock_birthdate"
      />
      {{/unless}}
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{#if this.editingBirthdate}}

  <div class="display-row birthdate-description">
      <div class="field">{{i18n "admin.user.date_format_label"}}</div>
      <div class="value">{{i18n "admin.user.date_format"}}</div>
      <div class="controls"></div>

  </div>
  {{/if}}