{{#if siteSettings.cakeday_birthday_enabled}}
  <div class="control-group">
    <label class="control-label">{{i18n "user.date_of_birth.label"}}</label>
    <div class="controls">
    {{#if canChangeBirthdate}}
      {{#if siteSettings.cakeday_birthday_formatdmy}}
        {{combo-box
          content=days
          value=userBirthdayDay
          valueProperty=null
          nameProperty=null
          options=(hash
            clearable=true
            autoInsertNoneItem=false
            none="cakeday.dd"
          )
          onChange=(action (mut userBirthdayDay))
        }}
        {{#if siteSettings.cakeday_birthday_show_year}}
          -
        {{/if}}
        {{combo-box
          content=months
          value=userBirthdayMonth
          valueProperty="value"
          options=(hash
            clearable=true
            autoInsertNoneItem=false
            none="cakeday.mm"
          )
          onChange=(action (mut userBirthdayMonth))
        }}
      {{else}}
        {{combo-box
          content=months
          value=userBirthdayMonth
          valueProperty="value"
          options=(hash
            clearable=true
            autoInsertNoneItem=false
            none="cakeday.mm"
          )
          onChange=(action (mut userBirthdayMonth))
        }}
        {{#if siteSettings.cakeday_birthday_show_year}}
          -
        {{/if}}
        {{combo-box
          content=days
          value=userBirthdayDay
          valueProperty=null
          nameProperty=null
          options=(hash
            clearable=true
            autoInsertNoneItem=false
            none="cakeday.dd"
          )
          onChange=(action (mut userBirthdayDay))
        }}
      {{/if}}
      {{#if siteSettings.cakeday_birthday_show_year}}
        -
        {{input
          type="number"
          class="year"
          content=year
          value=userBirthdayYear
          min=1905
          max=2904
          placeholder=(i18n "cakeday.yyyy")
          onChange=(action (mut userBirthdayYear))
        }}
      {{/if}}
      {{#if (and model.hasBirthdate model.hasAge)}}
        &nbsp; {{d-icon 'check'}}
      {{else}}
        {{#if siteSettings.cakeday_birthday_required}}
          {{i18n "user.date_of_birth.required"}}
        {{/if}}
      {{/if}}
    {{else}}
      {{i18n "user.date_of_birth.nochange" birthdate=userBirthdateText}}
    {{/if}}
    {{#unless allowUserChangeBirthdate}}
      <label class="instructions">
        <div class="warning" style="background-color: var(--danger-low-mid); color: rgba(var(--always-black-rgb), 1);">{{d-icon "exclamation-triangle"}} {{i18n "user.date_of_birth.nochange_warn"}}</div>
        {{#if model.isStaff}}
          <div class="warning" style="background-color: var(--wiki);">{{d-icon "shield-alt"}} {{i18n "user.date_of_birth.admin_to_allow_birthdate_changes"}}</div>
        {{/if}}
      </label>
    {{/unless}}
    {{#if model.canControlVisibility}}
      <div style="margin-top: 10px;"><a name="show_birthday_to_be_celebrated"></a>
      {{preference-checkbox labelKey="user.date_of_birth.show_birthday_to_be_celebrated" checked=model.custom_fields.show_birthday_to_be_celebrated}}
      <label class="instructions">
        {{i18n "user.date_of_birth.always_visible_to_admins"}}
      </label>
      {{#if model.custom_fields.show_birthday_to_be_celebrated}}
        {{preference-checkbox labelKey="user.date_of_birth.limit_age_visibility_to_groups" checked=model.custom_fields.limit_age_visibility_to_groups}}
        <label class="instructions">
          {{i18n "user.date_of_birth.limit_age_visibility_to_groups2"}}
        </label>
        {{#if model.custom_fields.limit_age_visibility_to_groups}}
        <div>
          {{group-chooser
            content=TLandCustomGroups
            value=model.custom_fields.groups_fullbirthday_visible
            labelProperty="name"
            onChange=(action (mut model.custom_fields.groups_fullbirthday_visible))}}
          <label class="instructions">
            {{i18n "user.date_of_birth.show_age_to_theese_groups"}}
          </label>
        </div>
        {{/if}}
      {{/if}}
      </div>
    {{/if}}
    </div>
  </div>
{{/if}}
